ahk==0.14.2
huggingface_hub==0.13.3
imageio==2.13.3
ipython==8.12.0
matplotlib==3.7.1
mediapipe==0.9.2.1
mmcv==2.0.0
mmpose==1.0.0
numpy==1.24.2
opencv_python==4.7.0.72
optuna==3.1.1
pandas==1.5.3
PyQt5==5.15.9
pytorchvideo==0.1.5
scikit_learn==1.2.2
scipy==1.7.3
torch==2.0.0+cu117
torchvision==0.15.1
tqdm==4.65.0
transformers==4.27.3
xtcocotools==1.13
